{% extends "base.html" %}
{% block content %}
    <h1>Guidebook Skeletonization:</h1>
    <h3>Select a root id:</h3>
    <form action="" method="post" target="_blank">
        {{ form.hidden_tag() }}
        <p>
            {{ form.root_id.label }} <br>
            {{ form.root_id(size=24) }}
        </p>
        <p>
            {{ form.root_location.label }} <br>
            {{ form.root_location(size=24 )}} <br>
            {{ form.root_is_soma }}
            {{ form.root_is_soma.label }} <br>
            {{ form.root_id_from_root_loc }}
            {{ form.root_id_from_root_loc.label }}
        </p>
        <p>
            {{ form.split_location.label }} <br>
            {{ form.split_location(size=24)}} <br>
            {{ form.split_option}}
        </p>
        {%- if allow_segmentation -%}
        <p>
            {{ form.segmentation_fallback }}
            {{ form.segmentation_fallback.label }}
        </p>
        {% endif %}
        <p>
            {{ form.point_option }} <br>
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
