{% extends "base.html" %}

{% block content %}
    <h2>Select a root id to skeletonize:</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.root_id.label }} <br>
            {{ form.root_id(size=14) }}
        </p>
        <p>
            {{ form.root_location.label }} <br>
            {{ form.root_location(size=14) }}
        </p>
        <p>
            {{ form.root_is_soma() }}{{ form.root_is_soma.label }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
